.botanic__header {
  display: flex;
}

.botanic__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.botanic__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.botanic__header-content p {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.botanic__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.botanic__header-image img {
  width: 100%;
}

@media screen and (max-width: 1050px) {
  .botanic__header {
    flex-direction: column;
  }
  .botanic__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .botanic__header h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .botanic__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .botanic__header-content__input input,
  .botanic__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .botanic__header h1 {
    font-size: 26px;
    line-height: 48px;
  }
  .botanic__header p {
    font-size: 14px;
    line-height: 24px;
  }
  .botanic__header-content__input input,
  .botanic__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
